name: pytest

on: push

jobs:
  pytest:


    runs-on: ubuntu-latest


    steps:
      - uses: actions/checkout@master
      - name: set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: install poetry
        uses: snok/install-poetry@master
      - name: Install dependencies
        run: make install
      - name: run lint
        run: make lint
      - name: run tests
        run: make pytest
      - name: testing coverage
        run: paambaati/codeclimate-action@v3.2.0
        if: github.ref_name == 'main'
        env:
          CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
        with:
          coverageCommand: make coverage
          debug: true